.Resume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vmin;
    animation: fadeInUp 1s;
}

iframe {
    width: 50vmin;
    height: 65vmin;
    border: 2px solid white;
    border-radius: 15px;
    opacity: 85%;
}

@media screen and (max-width: 1000px) {

    .Resume {
        margin-top: 38vmin;
    }
    
}